@use "top-nav";
@use "extra-nav";
@use "../breakpoints" as bp;

.main-header {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
}

.main-header__image-container {
    --image-size: 100px;
    display: flex;
    justify-content: center;
    // flex: 100%;
    padding: var(--m-10);
    margin: var(--m-4);
}

.main-header__container {
    width: fit-content;
    position: relative;
}

.main-header__title {
    position: absolute;
    width: var(--image-size);
    padding: var(--m-2);
    text-align: center;
    font-family: var(--font-2);
    color: white;
    font-size: var(--fs-5);
    text-shadow: 1px 1px 10px black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-header__image {
    width: var(--image-size);
    height: var(--image-size);
    border-radius: 50%;
}

@media (min-width: bp.$medium) {
    .main-header {
        flex-flow: row-reverse;
        justify-content: space-between;
        padding: var(--m-2) 0;
    }

    .main-header__image-container {
        flex: 0%;
        margin: 0;
        order: 1;
    }
}

@media (min-width: bp.$large) {
    .main-header {
        flex-flow: column;
        gap: var(--m-4);
        flex: 0.25;
        padding: var(--m-4);
        justify-content: flex-start;
        gap: var(--m-8);
    }

    .main-header__image-container {
        flex: 0% 0 1;
        order: 0;
        justify-content: flex-start;
    }
}