.fancy-button::before {
  font-size: 1.2rem;
  content: "★";
  color: #888888;
  margin-right: 0.2em;
}

/*☆★✭✰*/
.fancy-button::after {
  font-size: 1.2rem;
  content: "★";
  color: #888888;
  margin-left: 0.2em;
}

.body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* .fancy-button {
  display: block;
  font-size: 1.6rem;
  color: gray;
  border: gray thick;
  border-style: double;
  border-radius: 14px;
  
} */

/* basic styling */
.fancy-button {
  display: block;
  font-size: 1.6rem;
  color: #eeeeee;
  padding: 0.2em;
  margin: 4em;
  width: fit-content;
}

/* text properties */
.fancy-button {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #555555;
  background: #b7b7b7;
  text-shadow: white 0 0.7px 0;
  height: 2.4em;
  line-height: 2.4em;
  font-weight: bolder;
}

.fancy-button {
  box-shadow: 0 1px 2px 1px #555555, 0 0 0 0.3em #cbcbcb,
    0 4px 5px 2px rgba(0, 0, 0, 0.75), inset 0px 1.1em 1px 0 #dadada,
    0 0 0 calc(0.35em + 2px) white, 0 0 0 calc(0.35em + 5px) #666666;
  border-radius: 4px;
  font: bold 1rem sans-serif;
}
