:root {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#serpinski-triangle-container {
  position: relative;
  margin: 10em;
}

* {
  padding: 0;
  margin: 0;
}

.triangle {
  position: absolute;
  --side-size: 50px;
  --diag-size: 86.60254px;
  width: 0;
  height: 0;
  border-right: var(--side-size) solid transparent;
  border-left: var(--side-size) solid transparent;
}

.up-triangle {
  border-bottom: var(--diag-size) solid;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  background-color: lightblue;
}

.main-section {
  flex: 80%;
}

.drawer {
  min-height: 100vh;
  background-color: azure;
  min-width: 15em;
  flex: 20%;
  padding: 1em;
}

.drawer > *:not(:first-child) {
  margin: 2em 0;
}

.serpinski-input-color {
  display: block;
  width: 100%;
}

.serpinski-input-n-range {
  display: block;
  width: 100%;
}

.serpinski-input-n-number {
  width: 100%;
  display: block;
  min-height: 2em;
}

.input-number-container {
  display: flex;
  gap: 1em;
}
