:root {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#serpinski-triangle-container {
  --m: 1;
  position: relative;
  width: 700px;
  aspect-ratio: calc(1 / 0.866025);
}

* {
  padding: 0;
  margin: 0;
}

.triangle {
  position: absolute;
  width: calc(100% / var(--m));
  height: calc(100% / var(--m));
}

.up-triangle {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  background-color: black;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  background-color: lightblue;
}

.main-section {
  flex: 80%;
}

.drawer {
  min-height: 100vh;
  background-color: azure;
  min-width: 15em;
  flex: 20%;
  padding: 1em;
}

.drawer > *:not(:first-child) {
  margin: 2em 0;
}

.serpinski-input-color {
  display: block;
  width: 100%;
}

.serpinski-input-n-range {
  display: block;
  width: 100%;
}

.serpinski-input-n-number {
  width: 100%;
  display: block;
  min-height: 2em;
}

.input-number-container {
  display: flex;
  gap: 1em;
}
