:root {
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 1.2em; */
  --color-text-1: black;
  --color-text-2: #40c5c5;
  --color-text-3: #868383;
  --color-text-background-2: #ebf7f5;
  --base-size: 1rem;
  --type-scale: 1.25;
  --fs-1: calc(var(--fs-2) / var(--type-scale));
  --fs-2: calc(var(--fs-3) / var(--type-scale));
  --fs-3: calc(var(--fs-4) / var(--type-scale));
  --fs-4: var(--base-size);
  --fs-5: calc(var(--type-scale) * var(--fs-4));
  --fs-6: calc(var(--type-scale) * var(--fs-5));
  --fs-7: calc(var(--type-scale) * var(--fs-6));
  --fs-8: calc(var(--type-scale) * var(--fs-7));
  --fs-9: calc(var(--type-scale) * var(--fs-8));
  --m-1: calc(var(--m-2) / var(--type-scale));
  --m-2: calc(var(--m-3) / var(--type-scale));
  --m-3: calc(var(--m-4) / var(--type-scale));
  --m-4: var(--base-size);
  --m-5: calc(var(--type-scale) * var(--m-4));
  --m-6: calc(var(--type-scale) * var(--m-5));
  --m-7: calc(var(--type-scale) * var(--m-6));
  --m-8: calc(var(--type-scale) * var(--m-7));
  --m-9: calc(var(--type-scale) * var(--m-8));
  color: var(--color-text-1);
  --font-2: Brush Script MT, Brush Script Std, cursive;
  --d: solid 2px red !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  font-size: var(--fs-4);
}

h4 {
  font-size: var(--fs-5);
}

h3 {
  font-size: var(--fs-6);
}

ul {
  list-style: none;
}

a {
  color: var(--color-text-2);
}

a:where(:visited, :link, :focus) {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.newsletter {
  display: flex;
  flex-flow: row wrap;
  padding: var(--m-1) var(--m-4);
  gap: var(--m-1) var(--m-6);
}
@media (min-width: 40em) {
  .newsletter {
    border-top: dashed 2px var(--color-text-1);
  }
}

.newsletter__main {
  display: flex;
  gap: var(--m-8);
  align-items: center;
}
@media (min-width: 40em) {
  .newsletter__main {
    flex: 1;
  }
}

.newsletter__input-container {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 40em) {
  .newsletter__input-container {
    flex: 1;
  }
}

/* inside main */
.newsletter__icon {
  font-size: 50px;
  padding: var(--m-2);
}

.newsletter__caption {
  font-family: var(--font-2);
  font-size: var(--fs-5);
}

.newsletter__input {
  /* flex-basis: 70%; */
  flex: 0.7;
  line-height: var(--fs-6);
  border-radius: 0;
  border: solid var(--color-text-3) 1px;
  padding: 0 var(--m-1);
  color: var(--color-text-3);
}

.newsletter__button {
  flex: 0.3;
  /* flex-basis: 30%; */
  line-height: var(--fs-6);
  border-radius: 0;
  border: solid var(--color-text-3) 1px;
  color: var(--color-text-3);
}

.top-nav {
  flex: 100%;
  padding: var(--m-2);
}

.top-nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-nav__menu-item {
  align-items: center;
}

.top-nav__menu-item__icon {
  display: none;
}

@media (min-width: 40em) {
  .top-nav {
    font-size: var(--fs-5);
    padding: 0;
  }
  .top-nav__menu {
    justify-content: flex-end;
    gap: var(--m-2);
  }
  .top-nav__menu-item {
    display: flex;
    flex-flow: column wrap;
  }
  .top-nav__menu-item__icon {
    font-size: 1.3em;
    display: block;
  }
}
@media (min-width: 60em) {
  .top-nav {
    flex: 0;
    display: flex;
    flex-direction: column;
    gap: var(--m-7);
  }
  .top-nav__menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-nav__menu-item__icon {
    width: 26px;
  }
  .top-nav__menu-item {
    flex-direction: row;
    gap: var(--m-3);
  }
  .top-nav__menu-item__icon {
    flex: 1 10%;
  }
}
.extra-nav {
  display: none;
}
@media (min-width: 60em) {
  .extra-nav {
    display: flex;
    flex-direction: column;
    gap: var(--m-6);
  }
}

.extra-nav__post__title {
  font-size: var(--fs-4);
  text-transform: uppercase;
  border-bottom: 2px dashed var(--color-text-1);
  padding: var(--m-1) 0;
}

.extra-nav__post__body {
  padding: var(--m-2) 0;
  font-size: var(--fs-4);
}

.extra-nav__post__action {
  font-size: var(--fs-4);
  border: 1px solid #777;
  padding: var(--m-1);
  border-radius: 5px;
}

.main-header {
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: center;
}

.main-header__image-container {
  display: flex;
  justify-content: center;
  flex: 100%;
  padding: var(--m-10);
  margin: var(--m-4);
}

.main-header__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@media (min-width: 40em) {
  .main-header {
    flex-flow: row-reverse;
    justify-content: space-between;
    padding: var(--m-2) 0;
  }
  .main-header__image-container {
    flex: 0%;
    margin: 0;
    order: 1;
  }
}
@media (min-width: 60em) {
  .main-header {
    flex-flow: column;
    gap: var(--m-4);
    flex: 0.25;
    padding: var(--m-4);
    justify-content: flex-start;
    gap: var(--m-8);
  }
  .main-header__image-container {
    flex: 0% 0 1;
    order: 0;
    justify-content: flex-start;
  }
}
.hero {
  padding-bottom: var(--m-3);
}

.hero__image {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.hero__image-container {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.hero__text {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.hero__text__main {
  padding: var(--m-1) var(--m-4);
  font-size: var(--fs-5);
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
}

.hero__text__secondary {
  padding: var(--m-1) var(--m-4);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: var(--font-2);
  font-size: var(--fs-4);
}

.hero__menu {
  display: flex;
  flex-flow: row wrap;
}

.hero__menu-item {
  flex: 25%;
  background-color: var(--color-text-background-2);
  font-weight: bold;
  text-align: center;
}

.hero__menu-item__link {
  display: block;
  padding: var(--m-3) var(--m-2);
}

.hero__menu-item__desc {
  display: none;
  font-family: var(--font-2);
  font-size: var(--fs-3);
}

@media (min-width: 40em) {
  .hero__image {
    aspect-ratio: 2/1;
  }
  .hero__text {
    bottom: 10%;
  }
  .hero__text__main {
    padding: var(--m-1) var(--m-5);
    font-size: var(--fs-6);
    width: fit-content;
  }
  .hero__text__secondary {
    width: fit-content;
    padding: var(--m-1) var(--m-5);
    font-size: var(--fs-5);
  }
}
@media (min-width: 60em) {
  .hero__image {
    aspect-ratio: 3/1;
  }
  .hero__text__main {
    font-size: var(--fs-7);
  }
  .hero__text__secondary {
    font-size: var(--fs-6);
  }
  .hero__menu-item__desc {
    display: block;
  }
  .hero__menu-item {
    text-align: start;
  }
  .hero__menu-item__link {
    padding: var(--m-5) var(--m-2);
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  color: var(--color-text-3);
  padding: var(--m-4) var(--m-1);
}

.footer__section-links {
  display: flex;
  gap: var(--m-2);
}

.footer__section-links__item:not(:last-child)::after {
  content: "|";
}

.footer__brand__section .brand-icon {
  font-size: var(--fs-7);
}

.articles-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.article-preview {
  width: 90%;
  padding: var(--m-4) 0;
  font-size: var(--fs-3);
  display: flex;
  flex-direction: column;
  gap: var(--m-4);
}

.article-preview__image {
  width: 100%;
  border: solid 10px white;
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.75);
  margin: auto;
}

.article-preview__title {
  color: var(--color-text-2);
  font-size: var(--fs-5);
}

.article-preview__date {
  color: var(--color-text-3);
  font-size: var(--fs-4);
}

.article-preview__read-link {
  font-size: var(--fs-5);
  color: var(--color-text-2);
}

@media (min-width: 40em) {
  .articles-list {
    padding: var(--m-5);
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    word-wrap: break-word;
    gap: 1.2em;
  }
  .article-preview {
    width: auto;
  }
}
body {
  min-width: 300px;
}

.container {
  display: flex;
  justify-content: center;
}

.cursive {
  font-family: var(--font-2);
}

/* Overall */
.upper-section,
.top-nav,
.hero,
.newsletter,
.article-preview {
  border-bottom: dashed 2px var(--color-text-1);
}

.brand-icon {
  color: var(--color-text-3);
  font-size: var(--fs-6);
}

.accented-text {
  color: var(--color-text-2);
}

@media (min-width: 40em) {
  .top-nav,
  .hero,
  .article-preview {
    border-bottom: none;
  }
}
@media (min-width: 60em) {
  .upper-section {
    display: flex;
    flex-flow: row wrap;
  }
  .content {
    flex: 1;
  }
}

/*# sourceMappingURL=style.css.map */
